body {
    margin: 0;
}

section {
    /* width: 1110px; */
    max-width: 1110px;
    /* !!! 300px */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aqua;
}

footer {
    background-color: rgba(102, 142, 163, 0.1);

    opacity: 0.1;
}